<training-header [training]="train"></training-header>
<fieldset>
    <legend>Lines</legend>
    <input type="checkbox" (change)="toggleSpeed()" value="Speed" checked />Speed
    <input type="checkbox" (change)="toggleHeartRate()" value="HeartRate" checked />Heart Rate
    <input type="checkbox" (change)="toggleTemperature()" value="Temperature" checked />Temperature
    <input type="checkbox" (change)="toggleAltitude()" value="Altitude" checked />Altitude
</fieldset>
<select style="float: right" [(ngModel)]="d3interpolation" (change)="changeInterpolation()">
    <option *ngFor="let iv of interpolationValues" [value]="iv.value">{{iv.value}}</option>
</select>

<line-chart *ngIf="tdLineChartConfig" [config]="tdLineChartConfig"></line-chart>
